@import 'colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    box-sizing: border-box;
}

.container {
    background: $primary-background;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        background: $secondary-background;
        border-width: 0px 2px 2px 0px;
        border-style: solid;
        border-color: $main;
        box-shadow: 0px 50px 50px 50px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 50px;
        height: 600px;
        width: 600px;

        h1,
        h2 {
            color: $white;
            text-align: center;
        }

        h1 {
            font-weight: 500;
            font-size: 28px;
        }

        h2 {
            font-weight: 300;
            font-size: 20px;

            span {
                font-weight: 600;

                &:first-of-type {
                    color: $main;
                }
            }
        }
    }
}
