@import 'colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    box-sizing: border-box;
}

.container {
    background-color: $primary-background;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        background: $secondary-background;
        border-width: 0px 2px 2px 0px;
        border-style: solid;
        border-color: $main;
        box-shadow: 0px 50px 50px 50px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;

        h1,
        h2 {
            color: $white;
        }

        h1 {
            font-weight: 500;
            font-size: 36px;
        }

        h2 {
            font-weight: 300;
            font-size: 26px;

            span {
                font-weight: 600;

                &:first-of-type {
                    color: $main;
                }
            }
        }

        svg {

            width: 800px;
            height: auto;
            animation: svg-element ease-out 0.5s;

            line {

                transform-origin: center;
                stroke: $main-shade;
                stroke-width: 6; // stroke-width can be set directly in the Component or here
                animation: line-rotation ease-in 0.5s;
                stroke-linecap: square; // stroke-linecap can be set directly in the Component or here, and it also can be changed to round or completely removed

                &.active {
                    stroke: $main;
                    stroke-width: 10;
                }

            }

            text {

                &.value {
                    font-weight: 450;
                    font-size: 94px;
                    fill: $main;
                }

                &.range {
                    font-size: 32px;
                    fill: $main-shade;
                }
            }

        }

    }
}

// Animations

@keyframes svg-element {
    from {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes line-rotation {
    from {
        transform: rotate(0deg);
        stroke: 0;
    }
}